# Sales Receipt

In [1]:
# declaring the variables
company_name = "Coding Temple Inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"
p1_name = "Books"
p2_name = "Computer"
p3_name = "Monitor"
p1_price = 49.95
p2_price = 579.99
p3_price = 124.89
Total = p1_price + p2_price + p3_price
end_message = "Thanks for shopping with us today"

# putting the top border
print("*" * 49)

# putting the company name address and city
print("*""\t\t{}""\t\t*".format(company_name))
print("*""\t\t{}""\t\t*".format(company_address))
print("*""\t\t{}""\t\t\t*".format(company_city))

# put a dividing section
print("=" * 49)

# putting the product name and product price
print("*""\tProduct Name""\tProduct Price""\t\t*")

# putting the values of product name and price
print("*""\t{}""\t\t${}""\t\t\t*".format(p1_name, p1_price))
print("*""\t{}""\t${}""\t\t\t*".format(p2_name, p2_price))
print("*""\t{}""\t\t${}""\t\t\t*".format(p3_name, p3_price))

# put a dividing section
print("=" * 49)

# put the total price
print("*""\t\t\tTotal""\t\t\t*")
print("*""\t\t\t${}""\t\t\t*".format(Total))

# put a dividing section
print("=" * 49)

# putting the end message
print("*""\t\t\t\t\t\t*")
print("*""\t{}""\t*".format(end_message))
print("*""\t\t\t\t\t\t*")

# putting the bottom border
print("*" * 49)

*************************************************
*		Coding Temple Inc.		*
*		283 Franklin St.		*
*		Boston, MA			*
=================================================
*	Product Name	Product Price		*
*	Books		$49.95			*
*	Computer	$579.99			*
*	Monitor		$124.89			*
=================================================
*			Total			*
*			$754.83			*
=================================================
*						*
*	Thanks for shopping with us today	*
*						*
*************************************************