# Comments & Basic Data Types

In [3]:
"""
    This is a Multi-Line comment
"""
print("Hello")   # this is also a comment

Hello

In [4]:
# the following are all integers
print(2)
print(10)

2
10

In [5]:
# the following are all floats
print(10.953)
print(8.0)

10.953
8.0

In [6]:
# the following are booleans
print(True)
print(False)

True
False

In [8]:
# the following are strings
print("")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

In [9]:
print("Joseph Ajibola")

Joseph Ajibola

In [10]:
type(8)

int

In [11]:
type('Joe')

str

In [12]:
type(2.5)

float

In [13]:
type(True)

bool

## Tuesday

In [1]:
num1 = 5    # storing an integer into a variable
num2 = 8.4   # storing a float into a variable
print(num1, num2)  # you can print multiple items using commas

5 8.4

In [1]:
# storing a bool into a variable
switch = True
print(switch)

True

In [3]:
# storing strings into a variable
name = 'John Smith'
fav_number = '9'
print(name, fav_number)    # will print 9 next to the name

John Smith 9

In [5]:
# using two variables to create another variable
num1 = 5
num2 = 8.4
result = num1 + num2
print(result)

13.4

In [6]:
# adding, deleting, multiplying and dividing from a variable 
result += 1   # same as saying result = result + 1
print(result)
result *= num1     # same as saying result = result * num1
print(result)

14.4
72.0

In [7]:
# defining a variable and overwriting its value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

## Tuesday Exercises

In [26]:
x = 3
y = 10
result = x + y
print(result)

13

In [11]:
width = 245.54
height = 13.66
area = width * height
print(area)

3354.0764

## Working with Strings

In [12]:
# using the addition opertor without variables
name = "John" + " " + "Smith"
print(name)

John Smith

In [16]:
# using the addition operator with variables
first_name = "John"
last_name = "Smith"
full_name = first_name + ' ' + last_name
print(full_name)

John Smith

In [17]:
# injecting variables using the format method
name = "John"
print("Hello {}".format(name))
print("Hello {}, you are {} years old!".format(name, 28))

Hello John
Hello John, you are 28 years old!

In [15]:
# using the new f strings
name = "John"
print(f"Hello {name}")

Hello John

In [18]:
# One major difference between versions 2 and 3
name = "John"
print('Hello, %s' %name)

Hello, John

In [21]:
# python 2 multiple variable formatting
first_name = "John"
last_name = "Smith"
print("Hello, %s %s" %(first_name, last_name))
                    # surround the variables in parenthesis

Hello, John Smith

In [27]:
# using indexes to print each element
word = "Hello"
print(word[0])   # will output 'H'
print(word[1])   # will output 'e'
print(word[-1])  # will output 'o'

H
e
o

In [23]:
print(word[0:2])

He

In [28]:
print(word[0:5:2])

Hlo

## Wednesday Exercises

In [33]:
print('23' + ' ' + '4.5' + ' ' + 'False' + ' ' + 'John')

23 4.5 False John

In [34]:
name = "Joseph"
fav_sport = "Football"
fav_lang = "Python"
print("{}'s favourite sport is {}".format(name, fav_sport))
print("{} is working on {} programming".format(name, fav_lang))

Joseph's favourite sport is Football
Joseph is working on Python programming

## Thursday

### Manipulationg Strings

In [64]:
# using the title method to capitalize a string
name = 'john smith'
print(name.title())

John Smith

In [39]:
# replacing an exclamation point with a period
words = "Hello there!"
words = words.replace("!", ".")
print(words)

Hello there.

In [44]:
# finding the starting index of our searched items
s = "Look over that way"
print(s.find("over"))

10

In [48]:
# removing white space with strip
name = "  John  "
print(name.strip( ))

John

In [50]:
# converting a string into a list of words
s = "These words are separated by spaces"
print(s.strip(" "))

These words are separated by spaces

### Thursday Exercises

In [53]:
s = "uppercase"
print(s.upper())

UPPERCASE

In [63]:
name = "$$John Smith"
print(name.lstrip("$$"))

John Smith

In [60]:
help(" ".strip)

Help on built-in function strip:

strip(chars=None, /) method of builtins.str instance
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

## Friday Project: Printing Receipts.

In [52]:
# create a product and price for each item
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

# create a company name and information
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

# declare ending message
message = "Thanks for shopping with us today!"

# create a top border
print( "*" * 49)
 
# print company information first, using format
print("*""\t\t{}""\t\t*".format(company_name.title()))
print("*""\t\t{}""\t\t*".format(company_address))
print("*""\t\t{}""\t\t\t*".format(company_city))

# print a line between sections
print ( "=" * 49)

# print out a header for section of items
print("*""\tProduct Name\tProduct Price""\t\t*")

# create a print statement for each product
print("*""\t{}\t\t${}""\t\t\t*".format(p1_name.title(), p1_price))
print("*""\t{}\t${}""\t\t\t*".format(p2_name.title(), p2_price))
print("*""\t{}\t\t${}""\t\t\t*".format(p3_name.title(), p3_price))

# print a line between sections
print("=" * 49)

# print out header for section of total
print("*""\t\t\tTotal""\t\t\t*")

# calculate total price and print out
total = p1_price + p2_price + p3_price
print("*""\t\t\t${}""\t\t\t*".format(total))
                         
# print a line between sections
print( "=" * 49)

# output thank you message
print("*""\t\t\t\t\t\t*")
print("*""\t{}""\t*".format(message))
print("*""\t\t\t\t\t\t*")

# create a bottom border
print("*" * 49)

*************************************************
*		Coding Temple, Inc.		*
*		283 Franklin St.		*
*		Boston, MA			*
=================================================
*	Product Name	Product Price		*
*	Books		$49.95			*
*	Computer	$579.99			*
*	Monitor		$124.89			*
=================================================
*			Total			*
*			$754.83			*
=================================================
*						*
*	Thanks for shopping with us today!	*
*						*
*************************************************

In [34]:
# declare a variable equal to Hello and reverse the string using slicing
name = "Hello"
print(name[0:5])

Hello